
    <header>
    <img src = "http://zungdinh.com/images/logo.png" width="70px">

      <nav>
        <ul>
          <li><a href="https://github.com/Zoommie" target="blank" >GITHUB</a></li>
          <li><a href="https://www.linkedin.com/in/zung-dinh-790470b9/" target="blank">LINKEDIN</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </nav>
  
    </header>
